*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0e8ff;
  display: flex;
  justify-content: center;
  height: 100vh;
}
main {
  text-align: center;
  border-radius: 20px;
  width: 450px;
  height: 697px;
  background-color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
}
img {
  width: 450px;
  height: 220px;
  margin-bottom: 30px;
  border-radius: 20px 20px 0px 0px;
}
#h1 {
  color: #1f2e55;
  text-align: center;
  font-size: 28px;
  font-family: "outfit", sans-serif;
}
#title h2 {
  color: #717fa6;
  font-size: 16px;
  text-align: center;
  font-family: "outfit", sans-serif;
}

#title {
  width: 354px;
  height: 78px;
  text-align: center;
  margin: 5px auto;
}
#payment {
  background-color: #382ae1;
  width: 354px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 11px;
}
#payment:hover {
  background-color: #766cf1;

  cursor: pointer;
}
#cotne {
  font-size: 15px;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
  font-family: "outfit", sans-serif;
  padding-top: 15px;
}
#cancel {
  font-size: 15px;
  color: #717fa6;
  font-family: "outfit", sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
}
#goga {
  font-size: 16px;
  color: #1f2e55;
  font-family: "outfit", sans-serif;
}
#guga {
  color: #717fa6;
  font-size: 16px;
  font-family: "outfit", sans-serif;
}
#gaga {
  color: #766cf1;
  font-size: 14px;
  font-family: "outfit", sans-serif;
}
#row {
  background-color: #f7f9ff;
  width: 354px;
  height: 98px;
  border-radius: 11px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#adzin {
  height: 48px;
  width: 48px;
  margin-top: 25px;
  border-radius: 0px;
}
#gigi {
  display: flex;
  flex-direction: column;
  column-gap: center;
}
